@font-face {
  font-family: 'regular';
  src: url('../assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('../assets/fonts/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'semibold';
  src: url('../assets/fonts/SourceSansPro-SemiBold.ttf');
}


@font-face {
  font-family: 'light';
  src: url('../assets/fonts/SourceSansPro-Light.ttf');
}
