ion-content {
  --background: #ffffff;

  .container {
    color: #170C3A;
    font-family: 'semibold';
    height: 100%;

    p {
      margin: 0;
    }

    .content {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10vh;
      width: 900px;
      display: flex;
      flex-direction: column;
      max-width: 60%;

      .title {
        font-size: 2em;
        margin-bottom: 0.8rem;
      }

      .subtitle {
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      .align {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .border {
          display: flex;
          flex-direction: row;
          border: 2px solid #170C3A;
          margin-right: 1em;
          padding: 0.5em;
          background-color: #f1f1f1;

          input {
            background-color: #ffffff;
            border: none;
            margin-left: 0.5em;
            background-color: #f1f1f1;
          }
        }

        p,
        ion-label {
          margin-top: auto;
          margin-bottom: auto;
        }

        ion-checkbox {
          margin-right: 0.5em;
          margin-top: auto;
          margin-bottom: auto;
          z-index: 0;
        }

        .button {
          display: flex;
          flex-direction: row;
          border: 2px solid #170C3A;
          padding: 0.5rem;
          font-family: bold;
          background-color: #f1f1f1;
          cursor: pointer;
          margin-top: auto;

          img {
            width: 1em;
            margin-right: 0.5em;
          }
        }
      }

      .card {
        padding: 1rem;
        border: 2px solid #170C3A;
        margin: 1rem 0;
        background-color: #f1f1f1;

        p {
          margin: 0.5em 0.1em;
        }

        .align-tags {
          display: flex;
          flex-direction: row;
          font-family: bold;
        }

        ion-icon {
          --ionicon-stroke-width: 76px;
          width: 1.5em;
          height: 1.5em;
        }

        ion-label {
          font-family: bold;
        }
      }
    }
  }

  .shadow {
    background-color: #000000a1;
    height: 100%;
    position: absolute;
    top:0;
    width: 100%;
    position:fixed;
    display: initial;

    .add-tool-modal {
      display: flex;
      flex-direction:column;
      background-color: #f1f1f1;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      margin-top:5rem ;
      z-index: 99;
      padding:1rem;
      box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;

      input, textarea{
        background-color: #f1f1f1;
        border: 2px solid #170C3A;
        margin-bottom: 1rem;
        display: block;
        padding:0.5em;
      }

      ion-label{
        font-family: 'Bold';
        margin-bottom: 0.5em;
      }

      .align{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .button{
        border: 2px solid #170C3A;
        padding:0.5em;
        width: 47%;
        cursor: pointer;
        text-align: center;
      }
    }
  }

  .shadow-hidden {
   display: none !important;
  }
}
